[Unit]
Description=Setup RoninDojo
After=avahi-daemon.service network-online.target ronin-pre.service
Wants=oem-boot.service network-online.target ronin-pre.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/root
ExecStart=/usr/local/sbin/ronin-setup.sh
ExecStop=/usr/local/sbin/ronin-teardown.sh
StandardOutput=journal+console+file:/home/ronindojo/.logs/setup.logs
StandardError=journal+console+file:/home/ronindojo/.logs/setup.logs

[Install]
WantedBy=multi-user.target
