[Unit]
Description=Pre RoninDojo Setup
After=avahi-daemon.service network-online.target
Wants=oem-boot.service network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/root
ExecStart=/usr/local/sbin/ronin-pre.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
