[Unit]
Description=Pre RoninDojo Setup
After=avahi-daemon.service network-online.target
Wants=oem-boot.service network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/ronin-pre.sh
StandardOutput=journal+console+file:/home/ronindojo/.logs/pre-setup.logs
StandardError=journal+console+file:/home/ronindojo/.logs/pre-setup.logs

[Install]
WantedBy=multi-user.target
